@model IEnumerable<gurleenProject.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#tblStores').DataTable(
            {
                "ajax":
                {
                    "url": "/Stores/GetList",
                    "type": "GET",
                    "datatype": JSON
                },
                "columns":
                    [
                        { 'data': 'StoreName' },
                        { 'data': 'Location' },
                        { 'data': 'Date' },
                        { 'data': 'Hours' },
                        { 'data': 'Description' }
                    ]
            });
    });
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tblStores" scrip>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.StoreId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StoreId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StoreId">Delete</a>
                    </td>
        </tr>
        }
    </tbody>
</table>


